# Variáveis de Ambiente e Credenciais Sensíveis
.env
.env.*
!.env.example

# Arquivos de Cache e Compilação do Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ambientes Virtuais
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# IDEs e Editores de Código
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema Operacional
.DS_Store
Thumbs.db
